<html>
<head>
<title>辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,牡丹文化馆</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,牡丹文化馆">
<meta name="description" content="辉耀牡丹与国内著名学府和研究机构展开战略合作，中国牡丹应用研究所、中国林业经 济学会油用牡丹经济委员会相继落户辉耀牡丹产业园，并建设了辉耀牡丹产业园研发中心、油用牡丹产业化研发基地等研发机构。聘请了专门从事农学、植物提取、营养学及 临床研究等百多位科研人员，参与研发与生产，保证了产品的品质、安全性。">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="sw">
	<div class="logo"><a href="http://www.yaoshunmudan.com/index/index.php?6404"><img src="../static/images/logo.png" alt="logo"></a></div>
	<div class="logo400">服务热线:400-0761-616</div>
</div>
<div class="w menubox">
  <div class="sw">
		<ul class="menubar clearfix">
            <li class="li1"><a href="/about.html">关于辉耀</a></li>
            <li class="li2"><a href="/civilization.html">牡丹文化馆</a></li>
            <li class="li3"><a href="/news.html">新闻中心</a></li>
            <li class="li4"><a href="/product.html">牡丹产品</a></li>
            <li class="li5"><a href="/chuangxin.html">创新技术</a></li>
            <li class="li7"><a href="/zeren.html">企业责任</a></li>
            <li class="li8"><a href="/qudao.html">渠道合作</a></li>
            <li class="li6"><a href="/contact.html">联系我们</a></li>
		</ul>
	</div>
</div>

<div class="w">
	<div class="crumbs">
		<a href="/">首页</a> &gt; 牡丹历史
	</div>
	
	<div class="chanyelian clearfix">
		<div class="pull-left"><img src="../static/images/chanyelian.png" width="292" height="236" alt="牡丹产业链"></div>
		<div class="pull-right chanyelianslide">
			<!--slide begin-->
			<ul class="chanyelianbxslider">
				<!-- <li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<h4>牡丹籽油</h4>
							<em>Peony seed oil</em>
							<p>由牡丹籽提取的植物油是中国特有的木本坚果油，因其营养丰富而独特，又有医疗保健作用，被有关专家称为“世界上最好的油，”是植物油中的珍品，也是中国独有的健康保健食用油脂。
被誉为“液体黄金”的牡丹籽油，不饱和脂肪酸含量高达92%，可以改善新陈代谢、延缓衰老。</p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="../../static/images/pic1.jpg" width="326" height="254"/>
						</div>
					</div>
				</li>
				<li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<h4>牡丹花瓣</h4>
							<em>Peony petal</em>
							<p>牡丹美容的历史在中国源远流长，始于盛唐的牡丹花瓣浴，到风靡北宋的牡丹养颜汤，无论是唐晋豪门贵族，还是明清大家闺秀，“以花养容”传越千年。牡丹花瓣富含牡丹精油、牡丹黄酮、氨基酸成分，具有活血延缓衰老，滋养肌肤的功效。</p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="../../static/images/huaban.png" width="330" height="294"/>
						</div>
					</div>
				</li> -->
									<li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<p><p>
	辉耀牡丹与国内著名学府和研究机构展开战略合作，中国牡丹应用研究所、中国林业经 济学会油用牡丹经济委员会相继落户辉耀牡丹产业园，并建设了辉耀牡丹产业园研发中 心、油用牡丹产业化研发基地等研发机构。<br />
聘请了专门从事农学、植物提取、营养学及临床研究等百多位科研人员，参与研发与生产，确保辉耀牡丹一直走在牡丹行业的前列，保证了产品的品质、安全性。
</p></p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="http://img.yaoshunmudan.com/news20150612010601.jpg" width="326" alt="牡丹产业链"/>
						</div>
					</div>
				</li>
									<li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<p><strong>科研成果</strong><br />
<p>
	《牡丹籽粕中提取芍药苷方法的研究》 <br />
《<a href="http://www.yaoshunmudan.com/" target="_blank">牡丹籽油</a>超临界 CO2 萃取标准化规模化技术研究》
</p>
<br />
<strong>专利技术</strong><br />
<p>
	《一种浓香型牡丹籽油的制备方法》《牡丹籽破壳》《牡丹花蕊茶的加工方法》
</p>
<p>
	《一种从牡丹鲜花中提取牡丹精油的方法》《一种含牡丹油的护肤及其制备方法》
</p></p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="http://img.yaoshunmudan.com/cy20150612010914.jpg" width="326" alt="牡丹产业链"/>
						</div>
					</div>
				</li>
									<li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<p><h4>
	液体黄金 ——α亚麻酸
</h4>
<p>
	α—亚麻酸（Ω-3脂肪酸）是维系人类脑进化的生命核心物质，构成人体组织细胞的重要成份，是维系人体进化，保持人体健康的人体必需脂肪酸，在体内转化成人体必需的生命活性因 子DHA与EPA，是生命进化过程中最基本、最原始的物质，被称为“液体黄金”。 辉耀牡丹从「花中之王」牡丹花中，经高科技生物技术提取生命能量精华——α+，以天然生命能量融汇最新科技元素，为人体提供保持生命活力所必须的生命核心动力。
</p></p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="http://img.yaoshunmudan.com/cy20150612011127.jpg" width="326" alt="产业链"/>
						</div>
					</div>
				</li>
				
<!--
				<li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<p>　　辉耀牡丹与国内著名学府和研究机构展开战略合作，中国牡丹应用研究所、中国林业经 济学会油用牡丹经济委员会相继落户辉耀牡丹产业园，并建设了辉耀牡丹产业园研发中 心、油用牡丹产业化研发基地等研发机构。<br>
							　　聘请了专门从事农学、植物提取、营养学及 临床研究等百多位科研人员，参与研发与生 产，确保辉耀牡丹一直走在世界的前列，保 证了产品的品质、安全性。</p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="../../static/images/kxjs01.jpg" width="326" alt="牡丹产业链"/>
						</div>
					</div>
				</li>
				<li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<em>国际领先、国内首创的科研成果</em> -->
							<!-- <em>Peony petal</em> --><!--
							<p>《牡丹籽粕中提取芍药苷方法的研究》 <br>《牡丹籽油超临界 CO2 萃取标准化规模化技术研究》</p>
							<em>国家级专利技术</em>
							<p>《一种浓香型牡丹籽油的制备方法》《牡丹籽破壳》《牡丹花蕊茶的加工方法》<br>
《一种从牡丹鲜花中提取牡丹精油的方法》《一种含牡丹油的护肤及其制备方法》</p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="../../static/images/kxjs02.jpg" width="330" alt="牡丹产业链" />
						</div>
					</div>
				</li>
				<li>
					<div class="lianslidebox clearfix">
						<div class="pull-left lianslideboxText">
							<h4>液体黄金 ——α亚麻酸</h4> -->
							<!-- <em>Peony petal</em> --><!--
							<p>α—亚麻酸（Ω-3脂肪酸）是维系人类脑进化的生命核心物质，构成人体组织细胞的重要成 份，是维系人体进化，保持人体健康的人体必需脂肪酸，在体内转化成人体必需的生命活性因 子DHA与EPA，是生命进化过程中最基本、最原始的物质，被称为“液体黄金”。 辉耀牡丹从「花中之王」牡丹花中，经高科技生物技术提取生命能量精华——α+，以天然生命能量融汇最新科技元素，为人体提供保持 生命活力所必须的生命核心动力。</p>
						</div>
						<div class="pull-left lianslideboxPic">
							<img src="../../static/images/kxjs03.jpg" width="330" alt="牡丹产业链" />
						</div>
					</div>
				</li>-->
			</ul>
			<!--slide over-->
		</div>
	</div>
	
	<div class="mdlishi clearfix">
		<div class="mdlishiText pull-left">
			<p>
	<span style="line-height:1.5;">
	<p class="MsoNormal">
		牡丹文化是曹州文化的一个独特方面。它的内涵极为丰富。而且随着中华民族文化的发展，它的内涵亦不断拓宽、发展。研究牡丹文化，与经济建设的推进，与精神文明的创建，都有密切的关系。曹州牡丹文化，方兴未艾，研究它的人越来越多，可以断言，不久的将来，它不仅是菏泽人关注的一个方面，而且会成为国内研究家所瞩目的一个课题。
	</p>
</span>
</p>
<p>
	<br />
		</div>
		<div class="mdPic pull-left">
			<img src="../static/images/lishi.png" width="199" height="108" class="center-block"  alt="牡丹历史">
			<a href="wenhua.php?7678" class="expand center-block">查看更多</a>
		</div>
	</div>
	
	<h3 class="mdhuashang"><img src="../static/images/xinshang.png" class="center-block"  alt="牡丹花赏"></h3>
	<div class="huashangbxsliderbox">
		<ul class="huashangbxslider">
						<li><a href="wenhua.php?7678"><img src="http://img.yaoshunmudan.com/hs20150612011632.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
						<li><a href="wenhua.php?7678"><img src="http://img.yaoshunmudan.com/hs20150612011646.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
						<li><a href="wenhua.php?7678"><img src="http://img.yaoshunmudan.com/hs20150612011658.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
						<li><a href="wenhua.php?7678"><img src="http://img.yaoshunmudan.com/hs20150612011740.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
						<!--
			<li><a href=""><img src="../../static/images/pic2.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
			<li><a href=""><img src="../../static/images/pic3.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
			<li><a href=""><img src="../../static/images/pic4.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
			<li><a href=""><img src="../../static/images/pic2.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
			<li><a href=""><img src="../../static/images/pic3.jpg" width="320" height="280" alt="牡丹花赏"></a></li>
			<li><a href=""><img src="../../static/images/pic4.jpg" width="320" height="280" alt="牡丹花赏"></a></li> -->
		</ul>
	</div>
	
	<div class="banneryou"><a href="http://www.yaoshunmudan.com/index/tour.php?1792"><img src ="../static/images/lvyou.jpg" width="1280" alt="牡丹园度假旅游"></a></div>
	
</div>

<div class="footerIn text-center">&copy; 2012-2015版权 菏泽辉耀牡丹生物科技有限公司鲁ICP备11032574号-2</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../static/js/pf.js"></script>
<script>
$(document).ready(function(){
	$('.chanyelianbxslider').bxSlider(
  		{mode: 'fade',controls:false,captions: true,
		  auto: true,}
	);
	
	$('.huashangbxslider').bxSlider({
	  minSlides: 3,
	  maxSlides: 3,
	  slideWidth: 320,
	  slideMargin: 40,
		  captions: true,
		  auto: true,
	  pager:false
	});
	
});
</script>
</body>
</html>
