<html>
<head>
<title>辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,企业发展及宗旨</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,企业发展及宗旨">
<meta name="description" content="辉耀牡丹与国内著名学府和研究机构展开战略合作，中国牡丹应用研究所、中国林业经 济学会油用牡丹经济委员会相继落户辉耀牡丹产业园，并建设了辉耀牡丹产业园研发中心、油用牡丹产业化研发基地等研发机构。聘请了专门从事农学、植物提取、营养学及 临床研究等百多位科研人员，参与研发与生产，保证了产品的品质、安全性。">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/style.css">
<!--[if lt IE 9]>
<script src="../../static/js/html5shiv.min.js"></script>
<script src="j../../static/s/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 8]>
    <link href="../../static/css/bootstrap-ie7fix.min.css" rel="stylesheet">
	<link href="../../static/css/ie7fix.css" rel="stylesheet">
<![endif]-->
</head>
<body>
<div class="sw">
	<div class="logo"><a href="http://www.yaoshunmudan.com/index/index.php?4714"><img src="../static/images/logo.png" alt="logo"></a></div>
	<div class="logo400">服务热线:400-0761-616</div>
</div>
<div class="w menubox">
  <div class="sw">
		<ul class="menubar clearfix">
			<li class="li1"><a href="/about.html">关于辉耀</a></li><li class="li2"><a href="/civilization.html">牡丹文化馆</a></li>
			<li class="li3"><a href="/news.html">新闻中心</a></li>
			<li class="li4"><a href="/product.html">牡丹产品</a></li>
			<li class="li5"><a href="/chuangxin.html">创新技术</a></li>
			<li class="li7"><a href="/zeren.html">企业责任</a></li>
			<li class="li8"><a href="/qudao.html">渠道合作</a></li>
			<li class="li6"><a href="/contact.html">联系我们</a></li>

		</ul>
	</div>
</div>

<div class="w">
	<div class="crumbs">
		<a href="/">首页</a> &gt; <a href="/about.html">关于辉耀</a> &gt; 企业发展及宗旨
	</div>
	
	<div class="comdev clearfix">
		<div class="pull-left"><img src="../static/images/company.png" width="246" height="296" alt="企业介绍"></div>
		<div class="pull-right comdevslide">
			<!--slide begin-->
			<ul class="comdevbxslider">
				<li class="clearfix">
					<div class="pull-left comdevtext">
						 <p> 牡丹产业是菏泽市重点培育、扶植的朝阳产业，是菏泽市农业结构调整的重要举措，菏泽辉耀牡丹生物科技有限公司成立于2012年，位于中国牡丹之都山东省菏泽市牡丹区临商路东侧，占地2000余亩，注册资本1亿元，总投资20亿元人民币。公司着力于牡丹系列  深加工产品研发和生产，是国家牡丹高新技术产业基地重点龙头企业。</p>
					</div>
					<div class="pull-right comdevpic">
						<img src="../static/images/compic.jpg" width="690" height="300" alt="企业介绍">
					</div>
				</li>
				<li class="clearfix">
					<div class="pull-left comdevtext">
						 <p>菏泽辉耀牡丹生物科技有限公司主要建设牡丹产业化重点实验室，国家牡丹基因库，国际牡丹学术交流中心，国际牡丹科学研究中心，牡丹油生产线，牡丹油胶囊生产线等，是涉及健康食品、保健品、牡丹日用化工、牡丹医药、文化旅游等相关九大大领域的牡丹全面产业化龙头企业。所有项目全部达产后，年可实现销售收入180亿元，利税24亿元，可安置大中专毕业生1200余人。</p>
					</div>
					<div class="pull-right comdevpic">
						<img src="../static/images/compic1.jpg" width="690" height="300" alt="企业介绍">
					</div>
				</li>
				<li class="clearfix">
					<div class="pull-left comdevtext">
						 <p> 我们将秉承“富农强企，产业报国”的企业宗旨，弘扬“服务健康，达善社会”的企业理念，全力将辉耀牡丹产业园建设成为国际最强的牡丹产业研究区；形成世界最全的牡丹产品加工区；大力拓展牡丹在营养保健和医药领域的开发应用；建设生态旅游型的牡丹工业园区，使牡丹产业形成可持续发展的循环经济；具有特色鲜明的牡丹生态旅游工业景观区。</p>
					</div>
					<div class="pull-right comdevpic">
						<img src="../static/images/compic2.jpg" width="690" height="300" alt="企业介绍">
					</div>
				</li>
			</ul>
			<!--slide over-->
		</div>
	</div>
	
	<div class="comdev clearfix">
		<div class="pull-left"><img src="../static/images/fazhan.png" width="243" height="263" alt="企业发展"></div>
		<div class="pull-right comdevslide">
			<!--slide begin-->
			<ul class="comdevbxslider">
				<li class="clearfix">
					<div class="pull-left comdevtext">
						<p>3月29日    辉耀牡丹产业园正式开工建设</p>
						<p>6月    菏泽辉耀牡丹生物科技有限公司被菏泽市认定为         “国家牡丹高新技术产业基地重点龙头企业”</p>
						<p>11月   “辉耀牡丹产业化项目”被山东省列为“省级重点建          设项目</p>
					</div>
					<div class="pull-right comdevpic">
						<img src="../static/images/qyfz01.jpg" width="690" height="271" alt="企业发展">
					</div>
				</li>
				<li class="clearfix">
					<div class="pull-left comdevtext">
						
						<p>11月26日，中共中央总书记、国家主席、中央军委主席习近平来到菏泽辉耀牡丹生物科技有限公司，视察牡丹产业化工作。</p>
					</div>
					<div class="pull-right comdevpic">
						<img src="../static/images/qyfz02.jpg" width="690" height="271" alt="企业发展">
					</div>
				</li>
				<li class="clearfix">
					<div class="pull-left comdevtext">
						<p>2月17日    占地约3万平方米的牡丹日化产品生产区全面                开工建设</p>
						<p>6月    由辉耀公司与美国DPI公司合作成立的“中美牡丹生         物科技研究院”在辉耀公司挂牌成立</p>
					</div>
					<div class="pull-right comdevpic">
						<img src="../static/images/qyfz03.jpg" width="690" height="271" alt="企业发展">
					</div>
				</li>

			</ul>
			<!--slide over-->
		</div>
	</div>
	
	
	<div class="banneryou"><img src="../static/images/bannerstory.jpg" width="1280" height="365" alt="品牌故事"></div>
	
</div>

<div class="footerIn text-center">&copy; 2012-2015版权 菏泽辉耀牡丹生物科技有限公司鲁ICP备11032574号-2</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../static/js/pf.js"></script>
<script>
$(document).ready(function(){
	$('.comdevbxslider').bxSlider(
  		{mode: 'fade',controls:false,captions: true,
		  auto: true,}
	);
	
	
});
</script>
</body>
</html>