<html>
<head>
<title>辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,联系我们</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,联系我们">
<meta name="description" content="辉耀牡丹与国内著名学府和研究机构展开战略合作，中国牡丹应用研究所、中国林业经 济学会油用牡丹经济委员会相继落户辉耀牡丹产业园，并建设了辉耀牡丹产业园研发中心、油用牡丹产业化研发基地等研发机构。聘请了专门从事农学、植物提取、营养学及 临床研究等百多位科研人员，参与研发与生产，保证了产品的品质、安全性。">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="sw">
	<div class="logo"><a href="http://www.yaoshunmudan.com/index/index.php?7492"><img src="../static/images/logo.png" alt="logo"></a></div>
	<div class="logo400">服务热线:400-0761-616</div>
</div>
<div class="w menubox">
  <div class="sw">
		<ul class="menubar clearfix">
            <li class="li1"><a href="/about.html">关于辉耀</a></li>
            <li class="li2"><a href="/civilization.html">牡丹文化馆</a></li>
            <li class="li3"><a href="/news.html">新闻中心</a></li>
            <li class="li4"><a href="/product.html">牡丹产品</a></li>
            <li class="li5"><a href="/chuangxin.html">创新技术</a></li>
            <li class="li7"><a href="/zeren.html">企业责任</a></li>
            <li class="li8"><a href="/qudao.html">渠道合作</a></li>
            <li class="li6"><a href="/contact.html">联系我们</a></li>
		</ul>
	</div>
</div>

<div class="w">
	<div class="crumbs">
		<a href="/">首页</a> &gt; <a href="/about.html">关于辉耀</a> &gt; 联系我们
	</div>
	<h3 class="mdhuashang"><img src="../static/images/contact.png" class="center-block"  alt="联系我们"></h3>
	<div class="mapbox clearfix">
		<div class="pull-right mapinfo text-center">
			<strong>服务热线</strong>
			<div class="maptel">400-0761-616</div>
		</div>
	</div>
	<div class="leliulang">
		<div class="lecemngjing">
			<dl class="contactdl text-center">
				<dt>销售热线</dt>
				<dd>服务热线：400-0761-616 按1号键进入销售专线</dd>
<br/><dd>总部营销中心：0530-7155768</dd>
<br/>		<!--<dd>服务热线：400-0761-616 按1号键进入销售专线</dd>
		<dd>总部营销中心：0530-7155768</dd>
		<dd>北京营销中心：010-83156606</dd>
		<dd>日化营销中心（上海）：021-61072323</dd>-->
			</dl>
			<dl class="contactdl text-center">
				<dt>广告合作</dt>
				<dd>有关媒体广告合作机会，请与辉耀牡丹联系</dd>
<br/><dd>0530-7155751</dd>				<!--<dd>有关媒体广告合作机会，请与辉耀牡丹联系</dd>
				<dd>0530-7155766  /  7155761</dd>-->
			</dl>
			<dl class="contactdl text-center">
				<dt>新闻采访</dt>
				<dd>尊敬的新闻媒体朋友：感谢您对辉耀牡丹的支持和厚爱</dd>
<br/><dd>有关新闻采访联系方式</dd>
<br/><dd>0530-7155751</dd>				<!--<dd>尊敬的新闻媒体朋友：感谢您对辉耀牡丹的支持和厚爱<br>有关新闻采访联系方式</dd>
				<dd>0530-7155766  /  7155761</dd>-->
			</dl>
		</div>
		<div class="lewangmian">
			<dl class="contactdl text-center">
				<dt>在线留言</dt>
				<p>客户留言</p>
				<p>您的满意是我们最大的心愿！！</p>
			</dl>
			<div class="zudang">
			<form action="http://www.yaoshunmudan.com/index/add.php?9344" method="post" id="login" onsubmit="return lydata()">
				<table width="620" border="0" class="tinghua">
				  <tr>
					<td width="141">姓名：*</td>
					<td width="463"><input name="name" type="text" class="lixi">（注：必须登录之后才可以发言，点击注册或登录）</td>
				  </tr>
				  <tr>
					<td>您的电话号码：*</td>
					<td><input name="phone" type="text" class="lixiji"></td>
				  </tr>
				  <tr>
					<td>联系地址：</td>
					<td><input name="addr" type="text" class="lixi"></td>
				  </tr>
				  <tr>
					<td>Email：</td>
					<td><input name="email" type="text" class="lixi"></td>
				  </tr>
				  <tr>
					<td>邮编：</td>
					<td><input name="zip" type="text" class="lixi"></td>
				  </tr>
				 <!-- <tr>
					<td>皮肤问题：  *</td>
					<td>
						<dl class="select">
							<dt>脸部肌肤缺水</dt>
							<input name="problem" id="problem" type="hidden">
							<dd>
								<ul>
									<li><a href="javascript:;">脸部肌肤缺水1</a></li>
									<li><a href="javascript:;">脸部肌肤缺水2</a></li>
									<li><a href="javascript:;">脸部肌肤缺水3</a></li>
									<li><a href="javascript:;">脸部肌肤缺水4</a></li>
									<li><a href="javascript:;">脸部肌肤缺水5</a></li>
									<li><a href="javascript:;">脸部肌肤缺水6</a></li>
								</ul>
							</dd>
						</dl>
					</td>
				  </tr>-->
				  <!-- tr>
					<td>产品分类：  *</td>
					<td>
						<dl class="select">
							<dt><!--脸部肌肤缺22水--></dt>
							<input name="class_type" id="class_type" type="hidden">
							<dd>
								<ul>
									<!--<li><a href="javascript:;">脸部肌肤缺水1</a></li>
									<li><a href="javascript:;">脸部肌肤缺水2</a></li>
									<li><a href="javascript:;">脸部肌肤缺水3</a></li>
									<li><a href="javascript:;">脸部肌肤缺水4</a></li>
									<li><a href="javascript:;">脸部肌肤缺水5</a></li>
									<li><a href="javascript:;">脸部肌肤缺水6</a></li>-- >
								</ul>
							</dd>
						</dl>
					</td>
				  </tr -->
				  <tr>
					<td>留言回复</td>
					<td>
						<textarea name="content" id="content" class="meixin" cols="" rows=""></textarea>
					</td>
				  </tr>
				  <tr>
					<td>&nbsp;</td>
					<td>
						<table width="210" border="0">
							<tr>
								<td><input name="" type="submit"  value="提交反馈信息" class="gandong"></td>
								<td><input name="" type="reset"  value="重新填写信息" class="gandong"></td>
							</tr>
						</table>
						</form>
					</td>
				  </tr>
			  </table>

			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>

<div class="footerIn text-center">&copy; 2012-2015版权 菏泽辉耀牡丹生物科技有限公司鲁ICP备11032574号-2</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../static/js/pf.js"></script>
<script>
$(document).ready(function(){
	$('.gongyibxslide').bxSlider(
  		{mode: 'fade',controls:false}
	);
	
	$('.huashangbxslider').bxSlider({
	  minSlides: 3,
	  maxSlides: 3,
	  slideWidth: 350,
	  slideMargin: 40,
	  pager:false
	});
	
});
</script>
<script type="text/javascript">
$(function(){
	$(".select").each(function(){
		var s=$(this);
		var z=parseInt(s.css("z-index"));
		var dt=$(this).children("dt");
		var dd=$(this).children("dd");
		var input=$(this).children("input");
		var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};   //展开效果
		var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};    //关闭效果
		dt.click(function(){dd.is(":hidden")?_show():_hide();});
		dd.find("a").click(function(){
			dt.html($(this).html());
			input.val($(this).html());
			_hide();
			$("#problem").val($(this).html());//class_type
		});     //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
		$("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});
	})
})
function lydata(){
	if(!$('input[name=name]').val() || $('input[name=name]').val().length>30 || $('input[name=name]').val().length<1){
		alert('请填写姓名');return false;
	}
	var mobile = $('input[name=phone]').val();
	if(!mobile_reg(mobile)){
		alert('请填写手机号码');return false;
	}
	if(!$('input[name=addr]').val()){
		alert('请填写联系地址');return false;
	}
	if(!$('input[name=email]').val()){
		if(!isEmail($('input[name=email]').val())){
			alert('请填写正确的邮箱');
			return false;
		}
	}
	if(!$('input[name=zip]').val()){
		alert('请填写邮编：');return false;
	}
	if(!$('#content').val()){
		alert('请填写留言：');return false;
	}
}
function mobile_reg(mobile_n){
	var telReg = mobile_n.match('^[1][34578][0-9]{9}$');
	if(telReg){
		return true;
	}
	return false;
}
function isEmail(str){ 
	var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/; 
	return reg.test(str); 
} 
</script>

</body>
</html>
