<html>
<head>
<title>辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,文章列表页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="辉耀牡丹,牡丹,籽油,牡丹籽油软胶囊,国花蕊,牡丹花蕊茶,牡丹皙润鲜亮蚕丝面膜,文章列表页">
<meta name="description" content="辉耀牡丹与国内著名学府和研究机构展开战略合作，中国牡丹应用研究所、中国林业经 济学会油用牡丹经济委员会相继落户辉耀牡丹产业园，并建设了辉耀牡丹产业园研发中 心、油用牡丹产业化研发基地等研发机构。聘请了专门从事农学、植物提取、营养学及 临床研究等百多位科研人员，参与研发与生产，保证了产品的品质、安全性。">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="sw">
	<div class="logo"><a href="/"><img src="../static/images/logo.png" alt="logo"></a></div>
	<div class="logo400">服务热线:400-0761-616</div>
</div>
<div class="w menubox">
  <div class="sw">
		<ul class="menubar clearfix">
<li class="li1"><a href="/about.html">关于辉耀</a></li>
			 <li class="li1"><a href="/about.html">关于辉耀</a></li>
			 <li class="li2"><a href="/civilization.html">牡丹文化馆</a></li>
			 <li class="li3"><a href="/news.html">新闻中心</a></li>
			 <li class="li4"><a href="/product.html">牡丹产品</a></li>
			 <li class="li5"><a href="/chuangxin.html">创新技术</a></li>
			 <li class="li7"><a href="/zeren.html">企业责任</a></li>
			 <li class="li8"><a href="/qudao.html">渠道合作</a></li>
		</ul>
	</div>
</div>

<div class="sw">
	<div class="crumbs nopadding">
		<a href="http://www.yaoshunmudan.com/index/index.php?4909">首页</a> &gt; <a href="http://www.yaoshunmudan.com/new/news.php?7919">新闻中心</a> &gt; 新闻列表
	</div>
	
	<div class="picnewssliderbox">
		<ul class="picnewsslider">
			<li><a href='singlenews.php?id=182'><img src='http://img.yaoshunmudan.com/news20171123091331.jpg' title='国家工商总局商标局副局长崔守东到辉耀牡丹调研工作' alt='国家工商总局商标局副局长崔守东到辉耀牡丹调研工作'></a></li><li><a href='singlenews.php?id=181'><img src='http://img.yaoshunmudan.com/news20171101033419.jpg' title='移栽牡丹为何入秋时间最佳？' alt='移栽牡丹为何入秋时间最佳？'></a></li><li><a href='singlenews.php?id=180'><img src='http://img.yaoshunmudan.com/news20170822034607.jpg' title='辉耀牡丹亮相“2017香港美食博览会”' alt='辉耀牡丹亮相“2017香港美食博览会”'></a></li><li><a href='singlenews.php?id=179'><img src='http://img.yaoshunmudan.com/news20170814015752.jpg' title='牡丹不开花的原因分析' alt='牡丹不开花的原因分析'></a></li><li><a href='singlenews.php?id=177'><img src='http://img.yaoshunmudan.com/news20170706092439.jpg' title='辉耀牡丹荣获“山东省著名商标证书”' alt='辉耀牡丹荣获“山东省著名商标证书”'></a></li>
<!--
			<li><a href="../../static/images/picnews.jpg" title="习近平总书记视察辉耀牡丹<small>2013-11-26</small>"></a></li>
			<li><a href=""><img src="../../static/images/picnews.jpg" title="习近平总书记视察辉耀牡丹<small>2013-11-26</small>"></a></li>
			<li><a href=""><img src="../../static/images/picnews.jpg" title="习近平总书记视察辉耀牡丹<small>2013-11-26</small>"></a></li>
			<li><a href=""><img src="../../static/images/picnews.jpg" title="习近平总书记视察辉耀牡丹<small>2013-11-26</small>"></a></li>
			<li><a href=""><img src="../../static/images/picnews.jpg" title="习近平总书记视察辉耀牡丹<small>2013-11-26</small>"></a></li>-->
		</ul>
	</div>
	
	<div class="arclistbox">
		<ul class="arclist">
			<li>
                <a href="singlenews.php?id=182">国家工商总局商标局副局长崔守东到辉耀牡丹调研工作</a>
                <span></span>
            </li>
            <li>
                <a href="singlenews.php?id=181">移栽牡丹为何入秋时间最佳？</a> <span></span>
            </li>
            <li>
                <a href="singlenews.php?id=180">辉耀牡丹亮相“2017香港美食博览会”</a>
                <span></span>
            </li>
            <li>
                <a href="singlenews.php?id=179">牡丹不开花的原因分析</a>
                <span></span>
            </li>
            <li>
                <a href="singlenews.php?id=177">辉耀牡丹荣获“山东省著名商标证书”</a>
                <span></span>
            </li>
        </ul>
		<div class="page_nav text-center">
			<a href="newslist.php?page=1">首页</a>
			<a href="newslist.php?page=1"><<上一页</a>
			<a href="newslist.php?page=1"class="current">1</a>
            <a href='newslist.php?page=2' >2</a>
            <a href='newslist.php?page=3' >3</a>
            <a href='newslist.php?page=4' >4</a>
            <a href='newslist.php?page=5' >5</a>
            <a href='newslist.php?page=6' >6</a>
            <a href='newslist.php?page=7' >7</a>
            <a href='newslist.php?page=8' >8</a>
            <a href='newslist.php?page=9' >9</a>
            <a href='newslist.php?page=10' >10</a>
            <a href="newslist.php?page=2">下一页>></a>
			<a href="newslist.php?page=21">尾页</a>
		</div>
	</div>
	
</div>

<div class="footerIn text-center">&copy; 2012-2015版权 菏泽辉耀牡丹生物科技有限公司鲁ICP备11032574号-2</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../static/js/pf.js"></script>
<script>
$(document).ready(function(){
	$('.picnewsslider').bxSlider({
	  mode: 'fade',
	  captions: true,
	  controls:false
	});
	
});
</script>
</body>
</html>