<html>
<head>
<title>辉耀牡丹籽油产品-牡丹籽油软胶囊|牡丹籽油植物油|牡丹籽油精油|牡丹籽油化妆品</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="牡丹籽油软胶囊，牡丹籽油植物油，牡丹籽油精油，牡丹籽油化妆品">
<meta name="description" content="辉耀牡丹生物科技产品主要以纯天然牡丹籽油为主要原料，经过加工制的牡丹籽油软胶囊，牡丹籽油植物油，牡丹籽油精油等多款产品。产品质量安全可靠。咨询电话：4000761616。">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="sw">
	<div class="logo"><a href="http://www.yaoshunmudan.com/index/index.php?4960"><img src="../static/images/logo.png"  alt="logo"></a></div>
	<div class="logo400">服务热线:400-0761-616</div>
</div>
<div class="w menubox">
  <div class="sw">
		<ul class="menubar clearfix">
            <li class="li1"><a href="/about.html">关于辉耀</a></li>
            <li class="li2"><a href="/civilization.html">牡丹文化馆</a></li>
            <li class="li3"><a href="/news.html">新闻中心</a></li>
            <li class="li4"><a href="/product.html">牡丹产品</a></li>
            <li class="li5"><a href="/chuangxin.html">创新技术</a></li>
            <li class="li7"><a href="/zeren.html">企业责任</a></li>
            <li class="li8"><a href="/qudao.html">渠道合作</a></li>
            <li class="li6"><a href="/contact.html">联系我们</a></li>
		</ul>
	</div>
</div>

<div class="w">
	<div class="crumbs">
		<a href="/">首页</a> &gt; 产品中心
	</div>
	
	<div class="prslidebox">
		<ul class="prbxslider">
					<li><a href="product.php?2738"><img src="http://img.yaoshunmudan.com/pro20181224092858.png" ></a></li>
				</ul>
	</div>
	
	<div class="prhuabu center-block clearfix">
		<div class="prsidebar pull-left">
					<div class="prbigTitle currentcat">
				<a href="product.php?type=top"><img src="../static/images/hotpr.png" width="195" height="47" alt="热门产品"></a><i></i>
			</div>

			<div class="prbigTitle">
				<a href="product.php?id=1"><img src="../static/images/rihuapr.png" width="190" height="105" alt="日后产品"></a><i></i>
			</div>
			<dl>
							<dt><a href="product.php?id=2">东方国色</a></dt>
							<dt><a href="product.php?id=19">齿度</a></dt>
						</dl>

			<dl>
						</dl>
			<div class="prbigTitle">
				<a href="product.php?id=10"><img src="../static/images/jkpr.png" width="197" height="106" alt="健康产品"></a><i></i>
			</div>
			<dl>
							<dt><a href="product.php?id=17">国色坊</a></dt>
							<dt><a href="product.php?id=18">牡爱</a></dt>
							<dt><a href="product.php?id=12">国花蕊</a></dt>
							<dt><a href="product.php?id=22">丹香源</a></dt>
						</dl>
		</div>
		
		<div class="prmainbox pull-right">
			<div class="searchbox clearfix">
				<form action="product.php?2738" method="post">
					<input type="text" name="keywords" class="keywords pull-right" value="搜索" onFocus="this.value==this.defaultValue?this.value='':null;" onBlur="this.value==''?this.value='搜索':null;">
				</form>
			</div>
			<ul class="prlist clearfix">


							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=42"><img src="http://img.yaoshunmudan.com/pro20160805072912.png" class="img-responsive center-block"  alt="辉耀牡丹牡丹化妆品"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>辉耀牡丹牡丹化妆品</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=41"><img src="http://img.yaoshunmudan.com/pro20160805072825.png" class="img-responsive center-block"  alt="辉耀牡丹牡丹香水女士"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>辉耀牡丹牡丹香水女士</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=40"><img src="http://img.yaoshunmudan.com/pro20160805072638.png" class="img-responsive center-block"  alt="辉耀牡丹牡丹香水男士"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>辉耀牡丹牡丹香水男士</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=39"><img src="http://img.yaoshunmudan.com/pro20160805073212.png" class="img-responsive center-block"  alt="红牡丹晴采修护眼膜"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>红牡丹晴采修护眼膜</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=38"><img src="http://img.yaoshunmudan.com/pro20160805073230.png" class="img-responsive center-block"  alt="绿牡丹清透净肤蚕丝面膜"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>绿牡丹清透净肤蚕丝面膜</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=37"><img src="http://img.yaoshunmudan.com/pro20160805071817.png" class="img-responsive center-block"  alt="蓝牡丹鲜润保湿蚕丝面膜"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>蓝牡丹鲜润保湿蚕丝面膜</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=36"><img src="http://img.yaoshunmudan.com/pro20160805071640.png" class="img-responsive center-block"  alt="辉耀牡丹牡丹精油"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>辉耀牡丹牡丹精油</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
							<li>
					<div class="prThumb">
						<a href="singlepr.php?id=23"><img src="http://img.yaoshunmudan.com/pro20150420093900.png" class="img-responsive center-block"  alt="辉耀牡丹国色坊"></a>
					</div>
					<div class="prTitlebox text-center">
						<b>辉耀牡丹国色坊</b>
						<!--<h4><a href="./singlepr.php?id="></a></h4>
						<i></i>-->
					</div>
				</li>
					




			</ul>
		</div>
		
	</div>
	<div align="center">
		<a href="product.php?page=1&amp;id=&amp;type="><<上一页</a>
		&nbsp;&nbsp;&nbsp;<a href="product.php?page=1"class="current">1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='product.php?page=2&amp;id=&amp;type=' >2</a>&nbsp;&nbsp;&nbsp;		<a href="product.php?page=2&amp;id=&amp;type=">下一页>></a> 
	</div>
	
	<h3 class="mdhuashang"><img src="../static/images/anbao.png" class="center-block"></h3>
	<div class="huashangbxsliderbox">
		<ul class="huashangbxslider">
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="209" height="254" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="204" height="252" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="209" height="254" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="204" height="252" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="209" height="254" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="204" height="252" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="209" height="254" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="204" height="252" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="209" height="254" class="center-block" alt="安全保证"></a></li>
			<li><a href="product.php?2738"><img src="../static/images/zs2.jpg" width="204" height="252" class="center-block" alt="安全保证"></a></li>
		</ul>
	</div>
	
	<h3 class="mdhuashang"><img src="../static/images/serve.png" class="center-block" alt="消费者服务"></h3>
	<div class="serbox text-center">
		<div class="hotline">服务热线<br>400-0761-616</div>
		<img class="center-block code" src="../static/images/code.jpg" width="176" height="177">
		<div class="codetext">辉耀牡丹官方微信账号</div>
	</div>
	
</div>


<div class="footerIn text-center">&copy; 2012-2015版权 菏泽辉耀牡丹生物科技有限公司鲁ICP备11032574号-2</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../static/js/pf.js"></script>
<script>
$(document).ready(function(){
	$('.prbxslider').bxSlider(
  		{mode: 'fade',controls:false,pager:false,auto:true}
	);
	
	$('.huashangbxslider').bxSlider({
	  minSlides: 5,
	  maxSlides: 5,
	  slideWidth: 204,
	  slideMargin: 20,
	  pager:false
	});
	
});
</script>
</body>
</html>
