<html>
<head>
<title>牡丹谚语大全——了解掌握油用牡丹生长习性</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="牡丹谚语大全——了解掌握油用牡丹生长习性">
<meta name="description" content="本文对牡丹谚语作了全新解释，可别小看了这些朴实的谚语，它可是牡丹前辈们的心得！通过这些牡丹谚语，更深的了解牡丹的生长习性，对油用牡丹的种植管理具有很好的借鉴意义。">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="sw">
	<div class="logo"><a href="http://www.yaoshunmudan.com/index/index.php?7365"><img src="../static/images/logo.png"  alt="logo"></a></div>
	<div class="logo400">服务热线:400-0761-616</div>
</div>
<div class="w menubox">
  <div class="sw">
		<ul class="menubar clearfix">
			<li class="li1"><a href="http://www.yaoshunmudan.com/index/about.php?2180">关于尧舜</a></li>
			<li class="li2"><a href="http://www.yaoshunmudan.com/index/wenhua.php?9123">牡丹历史</a></li>
			<li class="li3"><a href="http://www.yaoshunmudan.com/new/news.php?4912">新闻中心</a></li>
			<li class="li4"><a href="http://www.yaoshunmudan.com/product/product.php?6355">牡丹产品</a></li>
			<li class="li5"><a href="http://www.yaoshunmudan.com/index/chuangxin.php?9417">创新技术</a></li>
			<li class="li7"><a href="http://www.yaoshunmudan.com/index/zeren.php?4145">企业责任</a></li>
			<li class="li8"><a href="http://www.yaoshunmudan.com/index/qudao.php?7372">渠道合作</a></li>
			<li class="li6"><a href="http://www.yaoshunmudan.com/index/contact.php?3068">联系我们</a></li>
		</ul>
	</div>
</div>

<div class="sw">
	<div class="crumbs nopadding">
		<a href="http://www.yaoshunmudan.com/index/index.php?1777">首页</a> &gt; <a href="http://www.yaoshunmudan.com/new/news.php?9861">新闻中心</a> &gt; 牡丹谚语大全——了解掌握油用牡丹生长习性	</div>
	
	<div class="xsw">
		<!-- <div class="arcDate">2015-12-31</div> -->
		<h1 class="arcTitle">牡丹谚语大全——了解掌握油用牡丹生长习性</h1>
		<div class="arccontent">
			<p>本文对牡丹谚语作了全新解释，可别小看了这些朴实的谚语，它可是牡丹前辈们的心得！通过这些牡丹谚语，更深的了解牡丹的生长习性，对油用牡丹的种植管理具有很好的借鉴意义。<br />
<strong>一、牡丹“春开花、夏打盹、秋发根、冬休眠”</strong><br />
<br />
此谚语是对牡丹一年四季生长发育情况的形象概括。在牡丹的年周期中，春季，从发芽、展叶、长枝、育蕾到谷雨前后开花，称为“春开花”。这一阶段生长最快，完成一年的生长量。当牡丹花谢后，进入立夏，在夏季，从牡丹的外观上好似处于生长停顿状态，俗称“夏打盹”，形容欲睡的样子。实质上，牡丹的生理活动处在最活跃时期，叶可进行光合作用，大量积累营养物质，供给芽的分化并形成花芽，花枝木质化，种子发育成熟以及养分贮藏等。立秋以后，种子已经成熟。地温适宜，牡丹的根系生长出现高峰期，长出大量新根，谓之“秋发根”。“冬休眠”，谓立冬之后，叶子枯萎脱落，进入了休眠期。<br />
<br />
<strong>二、“牡丹为王、芍药为相”</strong><br />
<br />
说明牡丹和芍药不仅植物的形态、结构、生态习性相似或相近，而且还有一定亲缘关系。在植物分类上牡丹和芍药属同科同属，牡丹为木本，芍药为草本，人类认识芍药早于牡丹。汉代以前，牡丹、芍药统称为“勺药”。汉代称牡丹为“木勺药”。牡丹的开花期较芍药早，色、香、韵均佳，而芍药花形酷似牡丹，花农们往往在栽植牡丹时，配植些芍药，以延长花期。由于人们崇尚牡丹，故称牡丹花为“王”，谓芍药花为“相”。<br />
<br />
<strong>三、“七芍药、八牡丹”</strong><br />
<br />
指牡丹、芍药的农历栽植季节，芍药在七月，牡丹为八月。古时人们曰：“八月十五日是牡丹的生日”，这期间栽牡丹易成活。<br />
<br />
<strong>四、“耕麦天，种牡丹”</strong><br />
<br />
是说麦和牡丹的种植时令相同。有“秋分五，麦入土”的农谚，此时令也正是牡丹分株、嫁接的最佳季节。<br />
<br />
<strong>五、牡丹“播种覆土，深不过五”</strong><br />
<br />
此谚语是指牡丹播种后覆盖土壤的厚度，不要超过牡丹种子直径的五倍，也就是4～5厘米为宜。<br />
<br />
<strong>六、“春分栽牡丹，到老不开花”</strong><br />
<br />
此谚语是说牡丹若在春分时令栽，已过了栽植时间，不易正常生长，即使成活，由于植株生长过弱，也不易开花。其实，还有个栽培方法问题，如果春分时，采用带土团(宿土)移栽，土不散，尽量少伤根，保持原根系的吸收能力，不仅可以成活，还可开花。中原地区，油用牡丹的移栽时间一般在9～10月。凤丹牡丹入秋以后有一个根系生长高峰，是移栽的最佳季节。<br />
<br />
<strong>七、“牡丹舍命不舍花”</strong><br />
<br />
此谚语所指不是牡丹具有的开花习性。在春季移栽的牡丹，当根系尚未旺盛吸收营养时，地上植株一方面生长枝叶，一方面育蕾、开花，要消耗来自根部贮存的大量或全部养分，似乎要舍其命将营养用在开花、结实上，使之传宗接代，即所谓“舍命不舍花”。其实，这只是问题的一方面，另外，牡丹在正常的生长时程中，实际具有舍花(部分)保命(不舍命)现象。当牡丹的植株，形成花蕾过多，当株体内的养分不足以使全部花蕾开花时。牡丹具有自身调节分配养分的功能，使大量的养分优先供应发育较好的花蕾上，足以保证开花。另一部分花蕾，则因养分不足、发育不良而败育，不能开花，这即是牡丹的“舍花”(宁可少开花)、“保命”现象。河南洛阳的花农们，采用花前复剪，除去弱蕾，调整营养的措施，克服牡丹的所谓“大小年”的现象。<br />
<br />
<strong>八、“牡丹最怕胎里穷”</strong><br />
<br />
牡丹的“胎”是指牡丹的花芽。“最怕胎里穷”是对牡丹花芽时期需要丰富养分的形象比喻。牡丹从当年6月上旬开始花芽分化到翌年花芽成蕾破绽期以前，都可能因营养不足影响分化或使花蕾败育。这个时期长达10个月，所以，“胎”期需要充足的养分供应，才能保证花芽分化良好，形成饱满的花芽，从而才能达到开时的花大色艳。也说明牡丹喜肥，若供肥不足，则花芽分化不良，发育差，影响开花。古时亦有护“胎”之说：“霜降以前牡丹叶不可使之枯落，叶落则有秋发之患，倘受灾害自落太早，看胎将有萌动时，须以薄绢将胎缚严，可避其害，否则来年无花”。<br />
<br />
<strong>九、“牡丹不冻不开花”</strong><br />
<br />
此谚语中的“冻”，是指牡丹的花芽必须经过一段时间的低温，否则，就不会发芽、开花。打破“风丹”花芽休眠所需的有效低温为0～10度，需经过10度以下气温不少于40天的低温积累，否则不能形成花芽。只要营养条件合适，油用牡丹成年植株当年生枝上的上位侧芽与基部一年生枝上的顶芽均易于形成花芽。花芽为混合芽，当年9月分化完成。花芽越冬要求一定的低温过程。当年生枝条基部生4-5个侧芽，通常上面2-3个能形成花芽，旺盛者可形成4-5个花芽。<br />
<br />
<strong>十、“牡丹给人一尺，自留三寸”或“牡丹长一尺，退八寸”</strong><br />
<br />
此谚语的“尺、寸”为市制，是指牡丹的一年生开花枝，年生长量一般为30厘米左右。牡丹开花后在霜冻到来之前，不能全部木质化。在果实成熟(结实)或残花(不结实)干枯后，该花枝从上向下逐渐干枯，木质化部分生长充实，仅有8～10厘米(市尺为三寸)，即所谓牡丹给人一尺，供观赏，自留三寸为生长。也有“长一尺，退八寸”之谚。牡丹的营养枝，则不同，也同样只有一次生长，形成顶芽，此一年生的枝条则全部木质化，不会干缩，其年生长量，最长者达50～60厘米。顶芽为花芽时，开花后，才会出现上述现象。<br />
<br />
十一、“荷花爱洗脚，牡丹怕湿脚”<br />
<br />
此谚语用拟人化的比喻，说明牡丹的生长习性。“荷花爱洗澡”是指荷花为水生植物，喜水，全株浸泡在水里也无妨；“牡丹怕湿脚”之“脚”是指牡丹的根系为肉质，怕湿。牡丹在发育过程中形成“宜冷、畏热、喜燥、恶湿”的生长习性，其中“恶湿”，即怕土壤积水，湿则牡丹的肉质根易烂、生长不良，严重时，还会造成死亡。<br />
<br />
十二、“牡丹爱搬家，越搬越开花”<br />
<br />
此谚语的“搬家”是指对牡丹进行的移栽。牡丹在花园里培植，若为重茬花，根部易产生病虫害，影响其正常生长和开花。另外根系过老，易腐朽，需分株移栽。当然供观赏的牡丹，株龄有经数百年而不曾“搬家”者，仍花繁叶茂。<br />
<br />
十三、“老梅花，少牡丹”<br />
<br />
此谚语指牡丹、梅花的开花质量而言。“老”、“少”指生长的年限，谓其“株龄”。株龄越长，即越“老”；株龄短，谓之“少”。梅花的“老”就是株龄长时，树形的姿态，越显苍奇，多年生枝就多，开花亦繁，观赏性愈高。“少牡丹”，是指牡丹的幼龄时期，生长旺盛，花枝粗壮，花芽饱满，开花大，色艳，芳香宜人，观赏性高，给人以欣欣向荣、兴旺发达的感觉。反之，牡丹株龄越老，生长势渐弱，开花不及“少”者。<br />
<br />
十四、“谷雨三朝看牡丹”<br />
<br />
此谚语一般指牡丹在黄河中、下游的开花期，“谷雨”是农历的二十四节气之一。在阳历4月20日，“谷雨三朝”即在谷雨的前或后三天，牡丹花进入盛花期，最宜观赏。而河南洛阳也有因春季“倒春寒”现象，气温偏低，牡丹盛花期则推迟7～8天。<br />
<br />
十五、“芍药打头，牡丹修脚”<br />
<br />
此谚语的“芍药打头”是说，芍药的一枝花茎上，除有顶生蕾外，其下部也能生出侧生蕾3～5个，均可开花。但以顶生主蕾开花最大，侧蕾开花较小。通常为使芍药能开出朵大且艳的花，必须集中养分于主蕾。同时为不使花茎压弯，所以在侧蕾出现后，立即疏去，谓之“打头”。牡丹“修脚”是说，花农指牡丹的根谓“脚”。牡丹在生长时，其根分生能力很强，多者能分生数十个土芽，形成土芽枝，这对分株繁殖有利。但是，如为油用牡丹或观赏牡丹，在枝干已定型时，其根的萌生，要消耗大量养分，影响开花结籽。若任其生长，影响株形美观。对“大”、“古”牡丹来讲，能造成“向心生长”，树冠外围枝条由于得养分少而渐弱或枯死。因此，作为油用牡丹或观赏牡丹，要将其根部的萌芽除掉，这一除芽措施，谓之“修脚”。若为扩大繁殖，则不必“修脚”。<br />
<br />
十六、“能收八成嫩，不收九成老”<br />
<br />
指牡丹种子在达到一定的成熟度后，其萌芽率随成熟度提高而降低。因牡丹种子的上胚轴具有休眠的特性，在7月下旬至8月上中旬即可采收，过晚会降低发芽率。<br />	</p>
		</div>
		<div class="prenext clearfix">
						<div class="pull-left"><a href="singlenews.php?id=99">&lt; 上一篇</a></div>
									<div class="pull-right"><a href="singlenews.php?id=101">下一篇 &gt;</a></div>
						
		</div>
	</div>
	
</div>


<div class="footerIn text-center">&copy; 2012-2015版权 菏泽尧舜牡丹生物科技有限公司鲁ICP备11032574号-2</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../static/js/pf.js"></script>
</body>
</html>
