<html>
<head>
<title>菏泽馆登陆淘宝特色中国，国色坊牡丹籽油三天大促</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="菏泽馆登陆淘宝特色中国，国色坊牡丹籽油三天大促">
<meta name="description" content="10月19日，淘宝网的地方特产电商平台——特色中国正式开通菏泽馆。">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link href="../static/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="sw">
	<div class="logo"><a href="http://www.yaoshunmudan.com/index/index.php?1872"><img src="../static/images/logo.png"  alt="logo"></a></div>
	<div class="logo400">服务热线:400-0761-616</div>
</div>
<div class="w menubox">
  <div class="sw">
		<ul class="menubar clearfix">
			<li class="li1"><a href="http://www.yaoshunmudan.com/index/about.php?9692">关于尧舜</a></li>
			<li class="li2"><a href="http://www.yaoshunmudan.com/index/wenhua.php?4552">牡丹历史</a></li>
			<li class="li3"><a href="http://www.yaoshunmudan.com/new/news.php?8601">新闻中心</a></li>
			<li class="li4"><a href="http://www.yaoshunmudan.com/product/product.php?9213">牡丹产品</a></li>
			<li class="li5"><a href="http://www.yaoshunmudan.com/index/chuangxin.php?7747">创新技术</a></li>
			<li class="li7"><a href="http://www.yaoshunmudan.com/index/zeren.php?2012">企业责任</a></li>
			<li class="li8"><a href="http://www.yaoshunmudan.com/index/qudao.php?5779">渠道合作</a></li>
			<li class="li6"><a href="http://www.yaoshunmudan.com/index/contact.php?1355">联系我们</a></li>
		</ul>
	</div>
</div>

<div class="sw">
	<div class="crumbs nopadding">
		<a href="http://www.yaoshunmudan.com/index/index.php?7277">首页</a> &gt; <a href="http://www.yaoshunmudan.com/new/news.php?4440">新闻中心</a> &gt; 菏泽馆登陆淘宝特色中国，国色坊牡丹籽油三天大促	</div>
	
	<div class="xsw">
		<!-- <div class="arcDate">2019-03-21</div> -->
		<h1 class="arcTitle">菏泽馆登陆淘宝特色中国，国色坊牡丹籽油三天大促</h1>
		<div class="arccontent">
			<p><p class="MsoNormal" style="text-indent:21.0pt;">
	10月<span>19</span>日，淘宝网的地方特产电商平台——特色中国正式开通菏泽馆。菏泽是中国的牡丹之都，以牡丹为原料的各种商品成为菏泽馆的最大特色。为了庆祝菏泽馆正式开通，以菏泽尧舜牡丹生物科技有限公司的国色坊牡丹籽油为代表的三十余款商品展开为期三天的大促，使广大网友们知道牡丹不仅可以观赏，更可以生产出多种绿色健康的高档食材、日化产品。<span></span> 
</p>
<p class="MsoNormal" style="text-indent:21.0pt;">
	说到牡丹，就一定要提到山东菏泽。菏泽自古就有“曹州牡丹甲天下”的美誉。目前，菏泽市牡丹种植面积已达<span>48</span>万亩，牡丹已经成为菏泽的特色支柱产业，在全国率先开启了牡丹产业化之路。尧舜牡丹是菏泽市牡丹产业化的领军企业，也是全国牡丹产业化的龙头企业。<span>2011</span>年成立以来，已经陆续推出国色坊牡丹籽油、国花蕊花蕊茶、牡爱<span>α-</span>亚麻酸、福牡康营养粉、东方国色牡丹面膜、齿度牡丹酚牙膏、牡丹香水等<span>30</span>余种牡丹系列深加工产品且走俏市场，理所当然成为菏泽馆的主力军。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;">
	本次淘宝网特色中国开通菏泽馆，以“国色·天香”为主题，“国色”即为牡丹系列产品。尧舜牡丹公司的国色坊牡丹籽油、东方国色蓝牡丹面膜、齿度多效护理牙膏等产品率先入驻菏泽馆。其中国色坊牡丹籽油尤为引人关注。国色坊牡丹籽油选用优质的牡丹籽为原料，采用目前最先进的<span>CO2</span>超临界萃取技术萃取出的高品质活性油。牡丹籽油含有<span>100</span>多种活性物质，总不饱和脂肪酸达<span>90%</span>以上。其中，<span>α-</span>亚麻酸含量达<span>38%-43%</span>，亚油酸<span>25%-30%</span>，油酸<span>21%-25%</span>，同时还有<span>γ-</span>亚麻酸，角鲨烯等珍稀成份。大量功能验证实验及专家论述表明：牡丹籽油产品中的α<span>-</span>亚麻酸等功效成份具有有益于提神健脑、预防心脑血管病、缓减更年期、抗衰老、抗疲劳，有<span>“</span>植物脑黄金<span>”</span>和<span>“</span>血管卫士<span>”</span>称号。<span>2011</span>年<span>3</span>月，被国家卫生部批准为新资源食品。<span></span> 
</p>
<p class="MsoNormal" style="text-indent:21.0pt;">
	正是由于牡丹籽油卓越的品质和功能，引起了国际名厨梁子庚先生的关注。《舌尖上的中国》中，梁子庚先生就是杭州地区舌尖上美食的代表。他是最早成功地将世界餐饮的概念完美融合进传统中餐烹饪当中的亚洲名厨，曾经在世界各地众多的五星级酒店中担任中餐行政主厨，获得过美国餐饮管理学院颁发的<span> “</span>五星钻石国际大奖<span> ”</span>等众多奖项。同时梁子庚先生为全球范围内的众多高级餐厅提供餐饮顾问，也是首位在美国顶级五星级酒店担任餐饮顾问的亚洲华人厨师。2015年<span>9</span>月，尧舜牡丹与梁子庚先生正式签约达成战略合作关系，聘请梁子庚先生作为产品研发顾问。梁子庚先生将充分发挥牡丹籽油的优良品质，应用于其创新中国菜的设计中，并把国色坊牡丹籽油引入到全球各地的五星级酒店，不仅创新菜品的口感、提升菜品的营养价值和健康指数，更使牡丹成为新菜品中的中国符号。<span></span> 
</p>
<p class="MsoNormal" style="text-indent:21.0pt;">
	据了解，尧舜牡丹隶属于全国五百强企业之一的山东洪业集团，4年来形成了种植规模化、生产标准化、销售品牌化、商品批量化、经营产业化、管理科学化的牡丹产业化格局。尧舜牡丹联合中科院等国内外著名科研机构，取得了<span>12</span>项国际领先、国内首创的科研成果和发明专利，走在世界前列。目前，公司企业的技术水平和产业规模已达到国内第一，参与牡丹籽油等多项相关国家标准、行业标准的制定，先后被认定为首批“国家林业重点龙头企业”、“山东省工业旅游示范点”，获得第五届山东省“省长质量奖”等众多荣誉，已经成为牡丹深加工产业中的标杆企业。随着淘宝网特色中国菏泽馆的正式开通，尧舜牡丹公司更多的牡丹深加工产品将陆续进驻菏泽馆，使广大网友“一亲芳泽”。<span></span> 
</p>	</p>
		</div>
		<div class="prenext clearfix">
						<div class="pull-left"><a href="singlenews.php?id=90">&lt; 上一篇</a></div>
									<div class="pull-right"><a href="singlenews.php?id=92">下一篇 &gt;</a></div>
						
		</div>
	</div>
	
</div>


<div class="footerIn text-center">&copy; 2012-2015版权 菏泽尧舜牡丹生物科技有限公司鲁ICP备11032574号-2</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../static/js/pf.js"></script>
</body>
</html>
